:root.dark {
--primary-white: #111111;
--primary-text-color: #ffffff;
--body-bg-color: #202024;
--accent-color-blue: #eac645;
--category-and-autor-color:
--secondary-black:
}
// }
// :root.dark {
//   --primary-color: #ffffff;
//   --header-bg-color: #111111;
//   --primary-text-color: #ffffff;
//   --secondary-black: #202024;
//   --body-bg-color: #202024;
//   --categories-links-active-color: #eac645;
//   --categories-links-color: rgba(255, 255, 255, 0.6);
//   --backdrop-color: rgba(17, 17, 17, 0.4);
//   --categories-scroll-bar: rgba(17, 17, 17, 0.6);
//   --pop-up-bg-color: #202024;
//   --scrollbar-bg-color: #11111199;
//   --scrollbar-hower-bg-color: #111111;
//   --autorization-modal-border-color: #f6f6f6;
//   --autorization-form-btn-text-color: #202024;
//   --autorization-links-color: rgba(246, 246, 246, 0.5);
//   --shopping-list-text-color: rgba(0, 0, 0, 0.6);

//   // Animations
//   --transition-time: 250ms;
//   --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
// }
