.header__container {
    display: flex;
    align-items: center;

    border: 1.5px solid #111111;
    border-radius: 0px 0px 8px 8px;
    background-color: var(--light-body-background);
}

// Logotype / логотип

.logo {
    padding-top: 18px;
    padding-bottom: 18px;

    @media screen and (min-width: 768px) {
        padding-top: 22px;
        padding-bottom: 22px;
        margin-right: 32px;
    }

    @media screen and (min-width: 1440px) {
        padding-top: 22px;
        padding-bottom: 22px;
        margin-right: 24px;
    }
}

// Navigation / меню

.navigation {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    @media screen and (min-width: 1440px) {
        gap: 24px;
    }
}

.navigation__item{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 10px;
    
    width: 72px;
    height: 34px;
    

}
.current{
    background: #EAC645;
    border-radius: 36px;

}

// checkbox + username

// mobilemenu