.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

ul {
  list-style: none;
  text-decoration: none;
}
.container-support {
  display: block;
  position: absolute;
  left: 20px;
  top: 372px;
  width: 335px;
  height: 352px;
  background: radial-gradient(
      183.6% 183.01% at 59.76% -23.42%,
      #4f2ee8 18.03%,
      #ffffff 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  border-radius: 16px;
  padding-top: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container-support {
    height: 472px;
    left: 401px;
    top: 112px;
  }
}

@media screen and (min-width: 1158px) {
  .container-support {
    width: 356px;
    height: 490px;
    top: 670px;
    left: 24px;
  }
}

.container-ukraine {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.container-list {
  display: block;
  padding-left: 20px;
  padding-bottom: 16px;
  height: 200px;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: auto;
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container-list {
    height: 300px;
  }
}

@media screen and (min-width: 1158px) {
  .container-list {
    height: 330px;
  }
}

element.style {
  height: 50px;
}

.swiper-slide {
  mix-blend-mode: luminosity;
  color: #ffffff;
  filter: grayscale(1) brightness(1000%);
}

.list-icon {
  margin: 0;
}

.icon-list {
  display: flex;
}

.title {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  margin-right: 15px;
  width: 18px;
  height: 18px;
  top: 7px;
  letter-spacing: -0.04em;
}

.fl {
  filter: invert(100%);
}

.swiper-button-next {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  /* transform: rotate(85deg); */
  left: 45%;
  top: 320px;
  border-radius: 50%;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .swiper-button-next {
    top: 440px;
  }
}

@media screen and (min-width: 1158px) {
  .swiper-button-next {
    top: 460px;
  }
}

.vector {
  position: absolute;
  left: 10px;
  top: 12px;
  /* transform: rotate(-85deg); */
}

.name {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5%;
  letter-spacing: -0.04em;
  color: #fff;
  margin-right: 12px;
  margin-top: 0;
  margin-bottom: 0;
}
