.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-Sing-inBtn {
  width: 0.884765625em;
}

.icon-Gerb {
  width: 0.625em;
}

.icon-logo {
  width: 3.9287109375em;
}
