// Common styles
@import './common';
@import './container';
@import './colors';
@import './svg';
// Section Main Books styles
@import './section-main-books';
// Section Support Ukraine styles
@import './support';
// Section Category page styles

// Section Header styles

// Section Category List styles
@import './list-of-categories';
// Modal Window styles
@import './modal';
// Shopping List Styles

// Theme change styles