<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container grid-main">
      <div class="sticky-elements">
        <!-- Category List -->
        <include src="partials/list-of-categories.html"></include>
        <!-- Support Ukraine -->
        <include src="partials/support-ukraine.html"></include>
      </div>
      <section class="book-catalog">
        <!-- Bookshelf section -->
        <include src="partials/section-main-books.html"></include>
      </section>
    </div>
  </body>
</html>
