<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="carousel" class="carousel">
      <button class="arrow prev">⇦</button>
      <div class="gallery">
        <ul>
          <div class="footer-card">
            <li><img src="/src/images/Boy.png" /></li>
          </div>
          <div class="footer-card">
            <li><img src="/src/images/Girl.png" /></li>
          </div>
          <div class="footer-card">
            <li><img src="/src/images/Girl.png" /></li>
          </div>
          <div class="footer-card">
            <li><img src="/src/images/Boy.png" /></li>
          </div>
          <div class="footer-card">
            <li><img src="/src/images/Girl.png" /></li>
          </div>
          <div class="footer-card">
            <li><img src="/src/images/Girl.png" /></li>
          </div>
          <div class="footer-card">
            <li><img src="/src/images/Boy.png" /></li>
          </div>
          <div class="footer-card">
            <li><img src="/src/images/Girl.png" /></li>
          </div>
        </ul>
      </div>
      <button class="arrow next">⇨</button>
    </div>

    <script src="/src/js/footer.js"></script>
  </body>
</html> -->
