<main>
  <div class="container-general">
    <div class="shoplist">
      <div class="support-shop-list">
        <include src="./partials/support-ukraine.html"></include>
      </div>
      <section class="shoplist-section">
        <h1 class="shoplist-header">
          Shopping <span class="bookcase__filter">list</span>
        </h1>
        <div class="shopping-list-page-view"></div>
        <div class="pagination-btn"></div>

        <div
          id="tui-pagination-container"
          class="pagination shopping-list tui-pagination"
        ></div>
      </section>
    </div>
  </div>
</main>
