<div class="container-support">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="container-ukraine">
    <h2 class="name">Support Ukraine</h2>
    <svg class="img-ukr" width="20" height="32">
      <use href="./images/icons.svg#icon-Gerb"></use>
    </svg>
  </div>
  <div class="container-list swiper">
    <ul class="list-icon swiper-wrapper"></ul>
    <div class="swiper-button-next">
      <svg class="vector" width="109" height="28">
        <use href="./images/icons.svg#icon-supportBtn"></use>
      </svg>
    </div>
    <div class="swiper-scrollbar"></div>
  </div>
</div>
