<div class="container-support">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="container-ukraine">
      <h2 class="name">Support Ukraine</h2>
      <img src="./images/support-ukraine/Gegb.svg" alt="emblem of Ukraine" class="img-ukr" width="20" height="32">
    </div>
    <div class="container-list swiper">
      <ul class="list-icon swiper-wrapper"></ul>
      <div class="swiper-button-next">
      <img class="vector" src="./images/support-ukraine/Vector.svg">
      </div>
    </div>
</div>